/**
 * Styles for Shopify Forms embed (injected into #shadow-root).
 * Prefer stable attributes over hashed class names — those classes can change on app updates.
 */
 section[data-sizing="form-wrapper"]{
  max-width: 620px!important;
 }

 div._horizontalLayout_1hja3_14{
  grid-template-columns: 1fr 1fr 1fr 1fr;
 }

 label._formInputFieldLabel_1mxsl_38,
._textBody_2aowh_10, span._textBody_2aowh_10, p._textBody_2aowh_10,
._textBody_2aowh_10, span._textBody_2aowh_10, p._textBody_2aowh_10{
    color: #9CA0B8;
}

input._formInputField_nag3b_7,
._formFieldContainer_1mxsl_5 textarea,
._selectToggle_12thd_25{
    border: 1.108px solid var(--Neutrals-Dark-200, #9CA0B8);
    border-radius: 0;
    color: #9CA0B8;
}
